<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment Options</title>
</head>
<body>
    <h1>Select Payment Option</h1>
    <ul>
        <li><a href="/phonepe">PhonePe</a></li>
        <li><a href="/googlepay">Google Pay</a></li>
        <li><a href="/creditcard">Credit Card</a></li>
        <li><a href="/debitcard">Debit Card</a></li>
    </ul>
</body>
</html>
